# === Base de données PostgreSQL ===
POSTGRES_DB=livret_suivi
POSTGRES_USER=strapi
POSTGRES_PASSWORD=************************

# === Strapi Configuration ===
NODE_ENV=development
HOST=0.0.0.0
PORT=1337


# === Frontend ===
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
# En production  => changer en https://livret-strapi.onrender.com
