@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", system_ui, sans-serif;

  /* Couleurs du client */
  --color-bleu-cobalt: #140A82;
  --color-bleu-cyan: #24A444;     /* vert du client */
  --color-orange-brique: #EB6023; /* rouge arizona */
}

@layer base {
  html {
    font-family: var(--font-montserrat), system-ui, sans-serif;
  }
}

.text-bleu-cobalt { color: var(--color-bleu-cobalt); }
.bg-bleu-cobalt { background-color: var(--color-bleu-cobalt); }
.text-vert { color: var(--color-bleu-cyan); }
.bg-vert { background-color: var(--color-bleu-cyan); }
.text-orange { color: var(--color-orange-brique); }
.bg-orange { background-color: var(--color-orange-brique); }